<template>
    <div>
        <h1>{{ message }}</h1>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                message: 'Hello, this STORM reporting for duty!'    
            }
        }
    }
</script>